name: Build - PI Bank Backend

on:
  push:
    branches:
      - main

jobs:
  main:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 18
  
      - name: Install TypeScript compiler
        run: npm i -g typescript
  
      - name: TypeScript Build
        run: |
          cd pi-bank-backend
          tsc --pretty > tsc-output.log 2>&1 || true

          grep -v 'TS2688' tsc-output.log > filtered-tsc-output.log

          cat filtered-tsc-output.log

          if grep -q 'error TS' filtered-tsc-output.log; then
              exit 1
          fi

      - name: Install Dependencies
        run: |
          cd ./pi-bank-backend
          echo "@codbex:registry=https://npm.pkg.github.com
          //npm.pkg.github.com/:_authToken=${{ secrets.DOCKER_PASSWORD }}" > .npmrc
          npm install
          rm -rf .npmrc

      - name: Initialize Buildx
        run: |
          docker buildx create --name builder || true
          docker buildx use builder

      - name: Build Docker Image
        run: |
          docker buildx build --tag pi-bank-backend -o type=image --platform=linux/arm64,linux/amd64 ./deployment
          
      - name: Login to GitHub Container Registry
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login ghcr.io -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Push Docker Image to GitHub Container Registry
        run: |
          docker buildx build --push --tag ghcr.io/tivmof/pi-bank-backend:latest -o type=image --platform=linux/arm64,linux/amd64 ./deployment
